{% extends "basic.html" %}

{% block include_script %}
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/loading-control.js"></script>
    <script src="/static/js/sentiment.js"></script>
{% endblock %}


{% block mainbody %}
    {% include "sentiment/header.html" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="navbar-form">
                        <input type="text" class="form-control" style="width:92%" id="name" placeholder="Messi">
                        <button href="#" onclick="get_sentiment_result()" class="btn btn-info btn-color"><span
                                class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div id="gauge"></div>
            </div>

            <div class="row" id="sample_result" style="display: none">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="lead"><b>Positive tweets</b></span></div>
                        <ul class="list-group" id="positive_sample_result">
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="lead"><b>Negative tweets</b></span></div>
                        <ul class="list-group" id="negative_sample_result">
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><span class="lead"><b>Neutral tweets</b></span></div>
                        <ul class="list-group" id="neutral_sample_result">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>



    {% include "footer.html" %}
{% endblock %}