{% extends "basic.html" %}

{% block mainbody %}
    {% include "sentiment/header.html" %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <div class="navbar-form">
                        <input type="text" class="form-control" style="width:92%" id="name" placeholder="iphone">
                        <button href="#" onclick="get_sentiment_result()" class="btn btn-info btn-color"><span
                                class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div id="gauge"></div>
            </div>
        </div>
    </section>

    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/sentiment.js"></script>

    {% include "footer.html" %}
{% endblock %}