<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span class="footer-header"> <i class="fa fa-twitter"
                                                aria-hidden="true"> </i>  twitter  数据挖掘及其可视化 </span>
                <br/><br/>
                <div class="table-responsive keywords-wrap ">
                    <table class="table">
                        <tr>
                            <td>Topic-analysis :</td>
                            <td>WOLDA</td>
                        </tr>
                        <tr>
                            <td>Sentiment-analysis :</td>
                            <td>Maximum Entropy</td>
                        </tr>
                        <tr>
                            <td>Visualization :</td>
                            <td>D3 | Echarts</td>
                        </tr>
                        <tr>
                            <td>WEB :</td>
                            <td>Django | MongoDB | Bootstrap</td>
                        </tr>
                    </table>
                </div>
                <br/><br/>
                <div class="copyright text-center">© Copyright <a href="https://www.hrwhisper.me" target="_blank">hrwhisper</a>
                    - All Rights Reserved
                </div>
            </div>
        </div>
    </div>
</div>
