<header class="page-header colored-background">
    <div class="container">
        <div class="row pull-left">
            <div class="col-sm-9">
                <h1>
                    {% block header_title %}
                        Sentiment analysis
                    {% endblock %}
                </h1>
                <p class="lead">
                    {% block header_instruction %}
                        输入您感兴趣的词，进行查询 <br>
                        如iphone 、 google 等
                    {% endblock %}
                </p>
            </div>
            <div class="col-sm-3 page-head-image">
                <img src="{% block header_image_src %}{% endblock %}" alt="sentiment" class="img-thumbnail img-circle">
            </div>
        </div>

    </div>
</header>