{% extends "basic.html" %}

{% block include_script %}
    <script src="/static/js/spin.min.js"></script>
    <script src="/static/js/loading-control.js"></script>
    <link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">
    <script src="/static/js/d3.v3.min.js"></script>
{% endblock %}


{% block mainbody %}

    {% include "topic/header.html" %}
    <section>
        {% include "topic/parameters_panel.html" %}

        <div class="col-sm-12 col-md-2">
            {% include "topic/toolbar.html" %}
        </div>

        <div class="col-sm-12 col-md-10" id="result">

        </div>

        <script src="/static/js/topic.js"></script>
    </section>
{% endblock %}