<script src="/static/js/bootstrap-switch.min.js"></script>


<div id="topicToolBar">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#streamParameters"
            style="margin-bottom: 10px">
        话题追踪
    </button>
    <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
        <li><a href="#topic_text" >文字结果
                <span style="float:right">
                    <input type="checkbox" name="topic_text" data-size="mini">
                </span>
        </a></li>

        <li><a href="#topic_bubble">Bubble
        <span style="float:right">
                    <input type="checkbox" name="topic_bubble" data-size="mini">
                </span></a></li>
        <li><a href="#topic_treemap">Treemap
        <span style="float:right">
                    <input type="checkbox" name="topic_treemap" data-size="mini">
                </span></a></li>
        <li><a href="#topic_sunburst">Sunburst
        <span style="float:right">
                    <input type="checkbox" name="topic_sunburst" data-size="mini">
                </span></a></li>
        <li><a href="#topic_funnel">Funnel
        <span style="float:right">
                    <input type="checkbox" name="topic_funnel" data-size="mini">
                </span></a></li>
    </ul>

</div>

